sudo: false
language: node_js
matrix:
  include:
    # Run tests in Node.js 4.x
    - node_js: '4'
    # Run tests in Node.js 5.x
    - node_js: '5'

after_script:
  - npm install coveralls
  - cat ./coverage/coverage.json | ./node_modules/.bin/adana --format lcov | ./node_modules/coveralls/bin/coveralls.js
